<!--Tin dien anh-->
<div class="row d-md-flex m-0 p-0 d-none d-md-block">
  <div class="col-6 p-5">
    <div class="card tintuc-item"><a href="#">
      <img class="card-img-top" src="../../../../../assets/img/dienanh-item-1.jpg" alt="" alt="Card image">
      <div class="card-body">
        <p class="py-3 card-body--heading">Loạt chi tiết cực thú vị từ những phim đình đám nhất 2018</p>
        <p class="text-muted">Homestay là phim viễn tưởng - ly kỳ hấp dẫn nhất của điện ảnh Thái Lan trong năm 2018. Tác phẩm được kỳ vọng nối tiếp cơn sốt mà Bad Genius từng tạo nên năm 2017.</p>
        <a href="#" class="btn btn-tintuc-chitiet">Xem chi tiết</a>
      </div></a>
    </div>
  </div>
  <div class="col-6 p-5">
    <ul class="list-unstyled tintucfilm-small">
      <li><a href="#">
        <div class="row">
          <div class="col-3 tintucfilm-small--img"><img class="img-fluid" src="../../../../../assets/img/tintuc-film-small.jpg" alt=""></div>
          <div class="col-8">
            <p class="tintucfilm-small--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p class="text-muted p-0 m-0">Feb 27, 2017 at 5:47 pm</p>
          </div>
        </div>

      </a></li>

      <li><a href="#">
        <div class="row">
          <div class="col-3 tintucfilm-small--img"><img class="img-fluid" src="../../../../../assets/img/tintuc-film-small.jpg" alt=""></div>
          <div class="col-8">
            <p class="tintucfilm-small--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p class="text-muted p-0 m-0">Feb 27, 2017 at 5:47 pm</p>
          </div>
        </div>

      </a></li>

      <li><a href="#">
        <div class="row">
          <div class="col-3 tintucfilm-small--img"><img class="img-fluid" src="../../../../../assets/img/tintuc-film-small.jpg" alt=""></div>
          <div class="col-8">
            <p class="tintucfilm-small--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p class="text-muted p-0 m-0">Feb 27, 2017 at 5:47 pm</p>
          </div>
        </div>

      </a></li>

      <li><a href="#">
        <div class="row">
          <div class="col-3 tintucfilm-small--img"><img class="img-fluid" src="../../../../../assets/img/tintuc-film-small.jpg" alt=""></div>
          <div class="col-8">
            <p class="tintucfilm-small--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p class="text-muted p-0 m-0">Feb 27, 2017 at 5:47 pm</p>
          </div>
        </div>

      </a></li>

      <button class="btn btn-tintuc-chitiet m-0 px-5">Xem thêm</button>
    </ul>
  </div>
</div>
<div class="row d-sm-flex d-block d-md-none">
  <div class="col-sm-6 mb-5">
    <div class="card tintuc-item"><a href="#">
      <img class="card-img-top" src="../../../../../assets/img/dienanh-item-1.jpg" alt="" alt="Card image">
      <div class="card-body">
        <p class="py-3 card-body--heading">Loạt chi tiết cực thú vị từ những phim đình đám nhất 2018</p>
        <p class="text-muted">Homestay là phim viễn tưởng - ly kỳ hấp dẫn nhất của điện ảnh Thái Lan trong năm 2018. Tác phẩm được kỳ vọng nối tiếp cơn sốt mà Bad Genius từng tạo nên năm 2017.</p>
        <a href="#" class="btn btn-tintuc-chitiet">Xem chi tiết</a>
      </div></a>
    </div>
  </div>
  <div class="col-sm-6 mb-5">
    <div class="card tintuc-item"><a href="#">
      <img class="card-img-top" src="../../../../../assets/img/dienanh-item-1.jpg" alt="" alt="Card image">
      <div class="card-body">
        <p class="py-3 card-body--heading">Loạt chi tiết cực thú vị từ những phim đình đám nhất 2018</p>
        <p class="text-muted">Homestay là phim viễn tưởng - ly kỳ hấp dẫn nhất của điện ảnh Thái Lan trong năm 2018. Tác phẩm được kỳ vọng nối tiếp cơn sốt mà Bad Genius từng tạo nên năm 2017.</p>
        <a href="#" class="btn btn-tintuc-chitiet">Xem chi tiết</a>
      </div></a>
    </div>
  </div>
  <div class="col-sm-6 mb-5">
    <div class="card tintuc-item"><a href="#">
      <img class="card-img-top" src="../../../../../assets/img/dienanh-item-1.jpg" alt="" alt="Card image">
      <div class="card-body">
        <p class="py-3 card-body--heading">Loạt chi tiết cực thú vị từ những phim đình đám nhất 2018</p>
        <p class="text-muted">Homestay là phim viễn tưởng - ly kỳ hấp dẫn nhất của điện ảnh Thái Lan trong năm 2018. Tác phẩm được kỳ vọng nối tiếp cơn sốt mà Bad Genius từng tạo nên năm 2017.</p>
        <a href="#" class="btn btn-tintuc-chitiet">Xem chi tiết</a>
      </div></a>
    </div>
  </div>
  <div class="col-sm-6 mb-5">
    <div class="card tintuc-item"><a href="#">
      <img class="card-img-top" src="../../../../../assets/img/dienanh-item-1.jpg" alt="" alt="Card image">
      <div class="card-body">
        <p class="py-3 card-body--heading">Loạt chi tiết cực thú vị từ những phim đình đám nhất 2018</p>
        <p class="text-muted">Homestay là phim viễn tưởng - ly kỳ hấp dẫn nhất của điện ảnh Thái Lan trong năm 2018. Tác phẩm được kỳ vọng nối tiếp cơn sốt mà Bad Genius từng tạo nên năm 2017.</p>
        <a href="#" class="btn btn-tintuc-chitiet">Xem chi tiết</a>
      </div></a>
    </div>
  </div>


</div>
<!--End tin dien anh-->
