
    <div class="flipcard">
      <div class="flipcard_front">
        <img class="titlePhim__img" [src]="phimItem.imagePath" [alt]="phimItem.tenPhim">
      </div>
      <div class="flipcard_back">
        <div class="flipcard_description">
          <p>14.12.2018</p>
          <h3 class="my-5">{{phimItem.tenPhim}}</h3>
          <p>145 phút - 7.5 IMDb </p>
          <p class="my-4">2D/Digital/3D/IMAX/4DX</p>
          <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i> (9.4)</p>
          <p class="mt-4">820 người đánh giá </p>
          <a class="btn mt-5">Mua vé</a>
        </div>
      </div>
    </div>
