<!--Section Footer-->
<section class="footer footer-bg">

  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="row text-light">
          <div class="col-12 col-sm-6 ">
            <p>CiniGo</p>
            <p>FAQ</p>
            <p>Brand Guidelines</p>
          </div>
          <div class="col-12 col-sm-6"><p>Thỏa thuận sử dụng</p>
            <p>Quy chế hoạt động</p>
            <p>Chính sách bảo mật</p>
            <p>Quyền lợi thành viên</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 text-light d-none d-md-block d-md-flex">
        <ul class="list-unstyled list-inline doitac">
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
          <li class="list-inline-item"><img class="img-fluid" src="../../../assets/img/doitac-1.png" alt=""></li>
        </ul>
      </div>
      <div class="col text-light">
        <div class="row">
          <div class="col-6">
            <p>MOBILE APP</p>
            <p><span style="font-size: 40px; margin-right: 20px"><i class="fab fa-apple text-muted"></i></span> <span style="font-size: 40px"><i class="fab fa-android text-muted"></i></span></p>
          </div>
          <div class="col-6">
            <p>SOCIAL</p>
            <p><span style="font-size: 35px; margin-right: 20px"><i class="fab fa-facebook text-muted"></i></span> <span style="font-size: 35px"><i class="fab fa-twitter text-muted"></i></span></p>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-footer">
    <div class="row">
      <div class="col-12 col-sm-2">
        <h3 class="footer-text">CiniGo</h3>
      </div>
      <div class="col-12 col-sm-8 text-light">
        <p>CiniGo - SẢN PHẨM CỦA CÔNG TY CP DỊCH VỤ MẠNG VI NA - MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG</p>
        <p class="p-0 m-0">Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Tp Hồ Chí Minh</p> <br>
        <p>Số ĐKKD: 0305418909, cấp lần đầu ngày 29/12/2007 – Sở KHĐT TP. HCM cấp</p>
      </div>
      <div class="col-12 col-sm-2">
        <img src="../../../assets/img/copy-right.png" style="width: 50%; margin-top: 1rem" alt="">
      </div>
    </div>
  </div>


</section>
<!--End Section Footer-->
