<!--Tin Tuc Phim Section-->
<section class="tintucphim">
  <div class="container tintuc--height">
    <div class="row text-center">
      <div class="col-12">
        <button class="btn btn-tintuc my-5 text-capitalize">Điện Ảnh 24h</button>
        <button class="btn btn-tintuc my-5 mx-4 text-capitalize">Review</button>
        <button class="btn btn-tintuc my-5 text-capitalize">Khuyến Mãi</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <!--Tin dien anh-->
        <app-dienanh></app-dienanh>
        <!--End tin dien anh-->

        <!--<app-review></app-review>-->
        <!--<app-khuyenmai></app-khuyenmai>-->
      </div>
    </div>
  </div>

</section>
<!--End Tin Tuc Phim Section-->
