<div class="d-inline-flex search-form justify-content-center align-items-center">
  <div class="dropdown">
    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
      Phim
    </button>
    <div class="dropdown-menu" >
      <a class="dropdown-item text-capitalize" href="#">kẻ đánh cắp lễ giáng sinh - the grinch</a>
      <a class="dropdown-item" href="#">Cô Gái Trong Lưới Nhện Ảo - The Girl in the Spider's Web (C18)</a>
      <a class="dropdown-item" href="#">Trốn Trại Quỷ Dữ - The Tokoloshe (C18)</a>
      <a class="dropdown-item text-capitalize" href="#">kẻ đánh cắp lễ giáng sinh - the grinch</a>
      <a class="dropdown-item" href="#">Cô Gái Trong Lưới Nhện Ảo - The Girl in the Spider's Web (C18)</a>
      <a class="dropdown-item" href="#">Trốn Trại Quỷ Dữ - The Tokoloshe (C18)</a>
      <a class="dropdown-item text-capitalize" href="#">kẻ đánh cắp lễ giáng sinh - the grinch</a>
      <a class="dropdown-item" href="#">Cô Gái Trong Lưới Nhện Ảo - The Girl in the Spider's Web (C18)</a>
      <a class="dropdown-item" href="#">Trốn Trại Quỷ Dữ - The Tokoloshe (C18)</a>
      <a class="dropdown-item text-capitalize" href="#">kẻ đánh cắp lễ giáng sinh - the grinch</a>

    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
      Rạp
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">BHD Star Vincom 3/2</a>
      <a class="dropdown-item" href="#">BHD Star Vincom Quang Trung</a>
      <a class="dropdown-item" href="#">Lotte Cinema Nam Sài Gòn</a>
      <a class="dropdown-item" href="#">Galaxy - Nguyễn Văn Quá</a>
      <a class="dropdown-item" href="#">BHD Star Vincom 3/2</a>
      <a class="dropdown-item" href="#">BHD Star Vincom Quang Trung</a>
      <a class="dropdown-item" href="#">Lotte Cinema Nam Sài Gòn</a>
      <a class="dropdown-item" href="#">Galaxy - Nguyễn Văn Quá</a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="dropdown-btn dropdown-toggle" data-toggle="dropdown">
      Ngày xem
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">
        <div><span class="title-day">Hôm nay</span></div>
        <div><span class="day">13-11-2018</span></div>
      </a>
      <a class="dropdown-item" href="#">
        <div><span class="title-day">Ngày mai</span></div>
        <div><span class="day">14-11-2018</span></div>
      </a>

      <a class="dropdown-item" href="#">
        <div><span class="title-day">Thứ năm</span></div>
        <div><span class="day">15-11-2018</span></div>
      </a>
      <a class="dropdown-item" href="#">
        <div><span class="title-day">Thứ sáu</span></div>
        <div><span class="day">16-11-2018</span></div>
      </a>

      <a class="dropdown-item" href="#">
        <div><span class="title-day">Chủ nhật</span></div>
        <div><span class="day">17-11-2018</span></div>
      </a>
      <a class="dropdown-item" href="#">
        <div><span class="title-day">Thứ hai</span></div>
        <div><span class="day">18-11-2018</span></div>
      </a>

    </div>
  </div>
  <div class="dropdown dropdown__last-item">
    <button type="button" class="dropdown-btn dropdown-toggle dropdown__last-item" data-toggle="dropdown">
      Xuất chiếu
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">13:00</a>
      <a class="dropdown-item" href="#">14:45</a>
      <a class="dropdown-item" href="#">16:00</a>
      <a class="dropdown-item" href="#">18:15</a>
      <a class="dropdown-item" href="#">20:00</a>
    </div>
  </div>
  <button type="button" class="btn btn--search">Mua vé ngay</button>
</div>
