<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
    <i class="navbar-toggler-icon">
    </i>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
    <ul class="navbar-nav text-uppercase">
      <li class="nav-item d-md-none" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">
        <a routerLink="" class="nav-link hvr-underline-from-left">Đăng nhập</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="" class="nav-link hvr-underline-from-left">lịch chiếu</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="" class="nav-link hvr-underline-from-left">cụm rạp</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="" class="nav-link hvr-underline-from-left">tin tức</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="" class="nav-link hvr-underline-from-left">ứng dụng</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="" class="nav-link hvr-underline-from-left">liên hệ</a>
      </li>
    </ul>
  </div>
</nav>
<!--End Navigation-->
