<div class="row thongtinPhim mt-5">
  <div class="col-sm-8 thongtinPhim__content-left">
    <div class="d-flex">
      <p style="width: 150px;">Ngày phát hành</p>
      <p >14.12.2018</p>
    </div>

    <div class="d-flex">
      <p style="width: 150px;">Đạo diễn</p>
      <p>James Wan</p>
    </div>

    <div class="d-flex">
      <p style="width: 150px">Diễn viên</p>
      <p style="width: 230px">Dolph Lundgren, Patrick Wilson, Jason Momoa, Nicole Kidman, Amber Heard</p>
    </div>

    <div class="d-flex">
      <p style="width: 150px">Thể Loại</p>
      <p>hành động, viễn tưởng</p>
    </div>

    <div class="d-flex">
      <p style="width: 150px">Định dạng</p>
      <p>2D/Digital/3D/IMAX/4DX</p>
    </div>

    <div class="d-flex">
      <p style="width: 150px">Quốc Gia SX</p>
      <p>Mỹ, Úc</p>
    </div>
  </div>
  <div class="col-sm-12 thongtinPhim__content-right mt-5">
    <h3 class="mb-4">Nội dung</h3>
    <p>{{phimItem.noiDung}}</p>
  </div>
</div>
