.content{
  text-align: center;
  height: 350px;
  cursor: pointer;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.1),
  0 2px 8px 0 rgba(0,0,0,0.7);
  overflow: hidden;
  display: inline-block;
  position: relative;

}
.content:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)) !important;
}
.content img {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: -1;
}



.videolink{
  opacity: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 6rem;
  height: 6rem;
  position: relative;
  box-shadow: none !important;
  transform: translateY(-23rem);
  transition: all 0.2s ease-in-out;

}
.videolink:hover{
  background-color: rgba(0,0,0,0.5);
}
.videolink:hover i{
  z-index: 999;
}
.videolink i {
  position: absolute;
  top: 15px;
  left: 18px;
}
.content:hover .videolink{
  opacity: 1;
  color: #fff !important;
}
.movie-item__title p{
  font-size: 1.6rem;
}
.movie-item__title a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--mainGreen);
  font-style: italic;
  transition: all .2s;
}
.movie-item__title a:hover{
  color: var(--mainBlue);
}
.movie-item__title--button button{
  font-size: 1.6rem !important;
}
.btn-muave{
  border-top: 1px solid #fff;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50px);
  opacity: 0;
  font-weight: bold;
  transition: all 0.3s ;
}
.content:hover .btn-muave{
  transform: translateY(0px);
  opacity: 1;
  color: var(--mainGreen);
}
.btn-muave:hover{
  color: var(--mainBlue) !important;
}
