
<div class="container-fluid chitietphim-wrap">
  <div class="row mt-5">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-4 mt-5">
          <app-phim-info></app-phim-info>
        </div>
        <div class="col-12 col-sm-12 col-md-8 mt-5">
          <app-thongtin-phim></app-thongtin-phim>
        </div>
        <div class="col-12">
          <div class="row" style="background-color: #fff; margin: 15rem 0">
            <div class="col-12 col-md-3">
              <app-cumrap></app-cumrap>
            </div>
            <!--<div class="col-12 col-md-4">-->
              <!--<app-rapchieulist></app-rapchieulist>-->
            <!--</div>-->
            <div class="col-12 col-md-9">
              <app-lichchieulist></app-lichchieulist>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

