
<div class="container-fluid checkout-wrap">
  <div class="row mr-0 pr-0">
    <div class="col-8">
      <div class="thongtin-rap d-flex">
        <img src="https://s3img.vcdn.vn/123phim/2018/09/e520781386bd5436e94d6e15e193a005.png" alt="thongtinrap" class="img-fluid">
        <div class="thongtin-rap--content">
          <p>Galaxy - Tân Bình</p>
          <p>Hôm nay - 09:45 - RẠP 1</p>
        </div>
      </div>
      <p class="text-center font-weight-bold mt-2" style="font-size: 1.5rem">Màn hình</p>
      <app-danhsachghe></app-danhsachghe>
    </div>
    <div class="col-4 mr-0 pr-0">
      <app-thongtin-datve></app-thongtin-datve>
    </div>
  </div>
</div>
