<div class="flex-md-wrap rap-item-wrap" (click)="onSelectedRapChieu()"><a class="rap-item__link">
  <div class="d-flex rap-item">
    <img [src]="rapchieuItem.imagePath" alt="rap" class="img-fluid rap-item__img">
    <div class="rap-item__content">
      <div><span class="rap-item__content--heading">{{rapchieuItem.tenRapChieu}}</span> - Vincom Thảo Điền</div>
      <p class="text-muted">{{rapchieuItem.diaChi}}</p>
      <p class="text-danger rap-item__content--chitiet">[Chi tiết]</p>
    </div>
  </div></a>
</div>
